.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.btn {
    background-color: #26aabb;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.label {
    font-size: 16px;
    margin-top: 10px;
}

.file_upload {
    border: none;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
}

.convert {
    border: solid 1px #00bcd4;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    color: white;
}

